<!doctype html>
<html class="no-js" lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title><%=app_name%></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=1980, user-scalable=no">

		<link rel="manifest" href="site.webmanifest">
		<link rel="apple-touch-icon" href="icon.png">
		<!-- Place favicon.ico in the root directory -->

		<link rel="stylesheet" href="/public/css/main.css">

        <script src="/public/js/phaser.min.js"></script>
		<script src="/public/js/main.js"></script>
	</head>
	<body>
		<!--[if lte IE 9]>
			<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
		<![endif]-->

		<div id="mainScreen">
            <canvas id="gameCanvas">
		</div>

	</body>
</html>